
<h1>Detours</h1>
<table class="center">
  <tr>
   <th>Detour Id</th>
    <th></th>
    <th>Truck Id</th>
    <th></th>
    <th>PartLoad Id</th>
    <th></th>
    <th>Detour Distance</th>
    <th></th>
    <th>Detour Type</th>
  </tr>

  <% @detours.each do |detour|  %>

  <tr>
     <td><%= detour.id %></td>
    <td>|</td>
    <td><%= detour.truck_id %></td>
    <td>|</td>
    <td><%= detour.partload_id %></td>
    <td>|</td>
    <td><%= detour.detour_distance %></td>
    <td>|</td>
    <td><%= detour.detour_type %></td>
  </tr>

  <%end%>
</table>
